<p-menubar>
  <ng-template pTemplate="start">
    <a routerLink="/" class="flex align-items-center gap-2 no-underline text-color">
      <i class="pi pi-shopping-bag text-2xl"></i>
      <span class="font-bold">{{ 'app.title' | translate }}</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
        <app-language-switcher></app-language-switcher>
      <ng-container *ngIf="auth.isAuthenticated()">
        <app-notification-menu></app-notification-menu>
      </ng-container>
      <ng-container *ngIf="!auth.isAuthenticated(); else userTpl">
        <a *ngIf="!isLoginPage" routerLink="/login" pButton [label]="('app.login' | translate)" icon="pi pi-user" class="p-button-text"></a>
      </ng-container>
      <ng-template #userTpl>
        <button
          pButton
          type="button"
          class="p-button-text flex align-items-center gap-2"
          (click)="userOverlay.toggle($event)"
          aria-haspopup="true"
          [ariaLabel]="auth.username()"
        >
          <p-avatar icon="pi pi-user" shape="circle" size="normal" styleClass="user-avatar"></p-avatar>
          <span class="hidden sm:inline">{{ auth.username() }}</span>
          <i class="pi pi-angle-down" aria-hidden="true"></i>
        </button>
        <p-overlayPanel #userOverlay [dismissable]="true" styleClass="user-menu-panel">
          <button type="button" class="user-menu-item" (click)="logout()">
            <i class="pi pi-sign-out mr-2"></i>
            {{ 'app.logout' | translate }}
          </button>
        </p-overlayPanel>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>

<div class="p-3">
  <router-outlet></router-outlet>
</div>
