<p-dialog
  #dialogShell
  [(visible)]="isOpen"
  [modal]="true"
  [closable]="false"
  [dismissableMask]="false"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="responsive ? breakpoints : undefined"
  [styleClass]="dialogClass"
  [style]="dialogStyle"
  [contentStyle]="{ overflowY: 'auto', maxHeight: '80vh' }"
  (onShow)="onShow()"
  (onHide)="onHide()"
  role="dialog"
  [attr.aria-modal]="true"
  [attr.aria-labelledby]="headerId"
>
  <ng-template pTemplate="header">
    <header #dialogHeaderRef class="app-dialog__header">
      <div class="app-dialog__titles">
        <h2 class="app-dialog__title" [attr.id]="headerId">{{ title }}</h2>
        <p class="app-dialog__subtitle" *ngIf="hasSubtitle">{{ subtitle }}</p>
      </div>
      <button
        type="button"
        pButton
        class="p-button-rounded p-button-text app-dialog__close"
        icon="pi pi-times"
        (click)="close.emit('closeButton')"
        [attr.aria-label]="'common.close' | translate"
        tabindex="0">
      </button>
    </header>
  </ng-template>

  <section #dialogBodyRef class="app-dialog__body">
    <div #dialogScrollRef class="app-dialog__body-inner">
      <ng-content></ng-content>
    </div>
  </section>

  <ng-template pTemplate="footer">
    <footer #dialogFooterRef class="app-dialog__footer">
      <ng-container *ngIf="footerActions; else projectedFooter">
        <ng-container [ngTemplateOutlet]="footerActions"></ng-container>
      </ng-container>
      <ng-template #projectedFooter>
        <ng-content select="[dialogFooter]"></ng-content>
      </ng-template>
    </footer>
  </ng-template>
</p-dialog>
