spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/emaecom
    username: ema
    password: ema
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
      transaction-isolation: TRANSACTION_READ_COMMITTED
      minimum-idle: 0
      maximum-pool-size: 5
      pool-name: HikariPool
      initialization-fail-timeout: 0
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        boot:
          allow_jdbc_metadata_access: true
  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

app:
  jwt:
    secret: dev-change-me
  auth:
    admin:
      username: admin
      password: admin
  frontend-base-url: http://localhost:4200
